/*
created by Dennis Pipper for CITW 165, assg5
*/


body {
    padding:0;
    margin:0;
    font-family: Georgia,serif;

}
section{
    margin:10px auto 10px auto;
    width:800px;
    padding:10px;
    background-color: rgba(150,210,150, .5);
    -webkit-border-radius: 10px;
    border-radius: 10px;

}
h3 {
    font-family: Geneva, sans-serif;
    font-size: 32px;
}
input#score {
    width: 55px;
    color: rgb(150,200,150);
    font-size: 22px;
    line-height: 1.75em;
    font-family: Courier, mono-space;
    padding:5px; border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

input#score:focus {border-color:#333; }

label{
    font-size: 24px;
    line-height: 1.5em;
}

input#submit {
    padding:5px 15px;
    background-color:rgba(0,0,250,.7);
    color: rgb(255,255,255);
    font-size: 16px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width:130px;
    }
input#reset {
    padding:5px 15px;
    background-color:rgba(0,0,250,.5);
    color: rgb(255,255,255);
    font-size: 16px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width:130px; }

input#submit:hover,input#reset:hover
        {
            background-color: rgb(0,0,0);
        }